<div class="row">
  <div class="col-md-4">
    <h2>{{book?.id}}</h2>
    <form [formGroup]="bookForm">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" id="title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label for="author">Author</label>
        <input type="text" id="author" class="form-control" formControlName="author">
      </div>
      <div class="form-group">
        <label for="releaseDate">release Date</label>
        <input id="releaseDate" class="form-control" formControlName="releaseDate">

      </div>
      <div class="form-group">
        <label for="registerDate">register Date</label>
        <input id="registerDate" class="form-control" formControlName="registerDate">

      </div>
      <div class="form-group">
        <label for="totalExamplaries">total Examplaries</label>
        <input id="totalExamplaries" class="form-control" formControlName="totalExamplaries">

      </div>
      <div class="form-group">
        <label for="imageUrl">image Url</label>
        <input id="imageUrl" class="form-control" formControlName="imageUrl">

        <div class="form-group">
          <label for="file">Upload Data</label>
          <input
            formControlName="file"
            id="file"
            type="file"
            multiple
            class="form-control"
            (change)="onFileChange($event)">
          <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
            <div *ngIf="f.file.errors && f.file.errors.required">File is required.</div>
          </div>
        </div>


        <button class="btn btn-success" [disabled]="bookForm.invalid" type="submit" style="margin-bottom: 20px"
                (click)="SaveBook()">
          Enregistrer
        </button>

      </div>
    </form>


  </div>
</div>
