<div class="row">
  <div class="col-md-4">
    <h2>{{book?.id}}</h2>
    <form [formGroup]="bookForm">


      <div class="form-group">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" type="text" id="title" class="form-control" formControlName="title">

        </mat-form-field>

      </div>


      <div class="form-group">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Author Name</mat-label>
          <input matInput placeholder="Author" type="text" id="author" class="form-control" formControlName="author">

        </mat-form-field>

      </div>


      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>release Date</mat-label>
          <input matInput [matDatepicker]="picker" id="releaseDate" class="form-control" formControlName="releaseDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>


      <div class="form-group">
        <mat-form-field appearance="fill">
          <mat-label>register Date</mat-label>
          <input matInput [matDatepicker]="picker1" id="registerDate" class="form-control"
                 formControlName="registerDate">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>





      <div class="form-group">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Total Examplaries</mat-label>
          <input matInput placeholder="TotalExamplaries" type="text" id="totalExamplaries" class="form-control" formControlName="totalExamplaries">

        </mat-form-field>

      </div>










      <div class="form-group">

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Image URL</mat-label>
          <input matInput placeholder="imageUrl" type="text" id="imageUrl" class="form-control" formControlName="imageUrl">

        </mat-form-field>



        <div class="form-group">
          <label for="file">Upload Data</label>
          <input
            formControlName="file"
            id="file"
            type="file"
            multiple
            class="form-control"
            (change)="onFileChange($event)">

        </div>


        <button class="btn btn-success" [disabled]="bookForm.invalid" type="submit" style="margin-bottom: 20px"
                (click)="SaveBook()">
          Enregistrer
        </button>

      </div>
    </form>


  </div>
</div>
