<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" style="background-color: navajowhite">Customer Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">


      <li class="nav-item active" style="background-color: navajowhite">
        <a  (click)="openDialog({}, 'add')" class="nav-link" >Add Customer <span class="sr-only" >(current)</span></a>
      </li>

    </ul>
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input type="search" (ngModelChange)="searchCustomers(key.value)" #key="ngModel" ngModel class="form-control mr-sm-2"-->
<!--             placeholder="Search book ..." aria-label="Search"-->
<!--             name="key" id="searchTitle">-->

<!--    </form>-->
<div class="col-sm-8 col-sm-offset-2">


    <!-- The form -->
    <form class="example" action="action_page.php"   >
      <input type="text" placeholder="Search.." name="search"  (ngModelChange)="searchCustomers(key.value)" #key="ngModel" ngModel class="form-control mr-sm-2">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  <!-- Load icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</div>

  </div>
</nav>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">


<div class="container">
  <div class="row" style="background-color: lemonchiffon">
    <div *ngFor="let customer of customers" class=" col-md-6 col-xl-3 ">
      <div class="card m-b-30 ">
        <div class="card-body row ">
          <div class="col-6 ">
            <a href=""><img src="{{customer?.imageUrl}}" alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{customer?.name}}</h5>
            <p class="m-0">{{customer?.jobTitle}}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>{{customer?.email}}</li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{customer?.phone}}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="openDialog(customer, 'edit')" class="btn btn-primary tooltips" data-placement="top" data-original-title="Edit"><i class="fa fa-pencil"></i> </a>
            <a  (click)="openDialog(customer, 'delete')" class="btn btn-secondary tooltips" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
