<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h3 class="text-white">Library</h3>

      <li routerLinkActive="active">
        <button type="button" class="btn btn-dark" routerLink="Bookmanager/bookstore">Book Manager</button>

      </li>
      <li routerLinkActive="active">
        <button type="button" class="btn btn-dark" routerLink="Customermanager/Customer">Customer Manager</button>

      </li>


    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>









